<h2 mat-dialog-title class="m-b-30">Gestion des irrigations</h2>

<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="planificationForm">
    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Secteur</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-select formControlName="sector">
        <mat-option *ngFor="let sector of sectors" [value]="sector.id">{{ sector.name }}</mat-option>
      </mat-select>
      <div *ngIf="planificationForm.get('sector')!.invalid && (planificationForm.get('sector')!.dirty)">
        <mat-error *ngIf="planificationForm.get('sector')?.errors?.['required']">
          Ce champ est requis.
        </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="date" formControlName="start">
      <div *ngIf="planificationForm.get('start')!.invalid && (planificationForm.get('start')!.dirty)">
        <mat-error *ngIf="planificationForm.get('start')?.errors?.['required']">
          Ce champ est requis.
        </mat-error>
        <mat-error *ngIf="planificationForm.get('start')?.errors?.['min']">
          La date doit être supérieure ou égale à aujourd'hui.
        </mat-error>
      </div>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="date" formControlName="end">
      <div *ngIf="planificationForm.get('end')!.invalid && (planificationForm.get('end')!.dirty)">
        <mat-error *ngIf="planificationForm.get('end')?.errors?.['required']">
          Ce champ est requis.
        </mat-error>
        <mat-error *ngIf="planificationForm.get('end')?.errors?.['min']">
          La date doit être supérieure ou égale à aujourd'hui.
        </mat-error>
      </div>
    </mat-form-field>
    

    <mat-error *ngIf="planificationForm.errors?.['dateInvalid']">
      La date de début doit être inférieure à la date de fin.
    </mat-error>

    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Heure début</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="time" formControlName="hod">
      <div *ngIf="planificationForm.get('hod')!.invalid && (planificationForm.get('hod')!.dirty)">
        <mat-error *ngIf="planificationForm.get('hod')?.errors?.['required']">
          Ce champ est requis.
        </mat-error>
      </div>
    </mat-form-field>

    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Heure fin</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="time" formControlName="hof">
      <div *ngIf="planificationForm.get('hof')!.invalid && (planificationForm.get('hof')!.dirty)">
        <mat-error *ngIf="planificationForm.get('hof')?.errors?.['required']">
          Ce champ est requis.
        </mat-error>
      </div>
    </mat-form-field>

    <mat-error *ngIf="planificationForm.errors?.['timeInvalid']">
      L'heure de début doit être inférieure à l'heure de fin.
    </mat-error>

    <mat-dialog-actions>
      <button mat-flat-button color="primary" type="submit" [disabled]="!planificationForm.valid">Envoyer</button>
      <button mat-stroked-button color="basic" mat-dialog-close>Fermer</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
