<!-- treatment-dialog.component.html -->
<h2 mat-dialog-title class="m-b-30">Gestion des cueillettes</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="cueilletteForm">
    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Date</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput formControlName="da">
      <div *ngIf="cueilletteForm.get('da')!.invalid && (cueilletteForm.get('da')!.dirty )">
        <mat-error
          *ngIf="cueilletteForm.get('da')?.errors?.['required']">
          Ce champ est requis.
        </mat-error>
      </div>
    </mat-form-field>
    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">nombre de groupe</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput formControlName="nbrg">
      <div *ngIf="cueilletteForm.get('nbrg')!.invalid && (cueilletteForm.get('nbrg')!.dirty )">
        <mat-error *ngIf="cueilletteForm.get('nbrg')?.errors?.['required']">
          Ce champ est requis.
        </mat-error>
        <mat-error *ngIf="cueilletteForm.get('nbrg')?.errors?.['pattern']">
          Veuillez entrer un nombre valide.
        </mat-error>
      </div>
    </mat-form-field>
    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre de sac frais</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput formControlName="nbrs">
      <div *ngIf="cueilletteForm.get('nbrs')!.invalid && (cueilletteForm.get('nbrs')!.dirty )">
        <mat-error *ngIf="cueilletteForm.get('nbrs')?.errors?.['required']">
          Ce champ est requis.
        </mat-error>
        <mat-error *ngIf="cueilletteForm.get('nbrs')?.errors?.['pattern']">
          Veuillez entrer un nombre valide.
        </mat-error>
      </div>
    </mat-form-field>


    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre de sac derbez</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput formControlName="nbrd">
      <div *ngIf="cueilletteForm.get('nbrd')!.invalid && (cueilletteForm.get('nbrd')!.dirty )">
        <mat-error *ngIf="cueilletteForm.get('nbrd')?.errors?.['required']">
          Ce champ est requis.
        </mat-error>
        <mat-error *ngIf="cueilletteForm.get('nbrd')?.errors?.['pattern']">
          Veuillez entrer un nombre valide.
        </mat-error>
      </div>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-flat-button color="primary" type="submit" [disabled]="!cueilletteForm.valid">Envoyer</button>
      <button mat-stroked-button color="basic" mat-dialog-close>Fermer</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
